[flake8]
max-line-length = 120
exclude =
    migrations,
    __pycache__,
    .venv,
    env,
    venv,
    .git,
    .idea

per-file-ignores =
    */settings/*.py: F401,F403,F405
    telegram_bot/bot.py: E402
