amqp==5.3.1 ; python_version >= "3.11"
anyio==4.12.1 ; python_version >= "3.11"
asgiref==3.11.0 ; python_version >= "3.11"
async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
billiard==4.2.4 ; python_version >= "3.11"
celery==5.6.2 ; python_version >= "3.11"
certifi==2026.1.4 ; python_version >= "3.11"
click-didyoumean==0.3.1 ; python_version >= "3.11"
click-plugins==1.1.1.2 ; python_version >= "3.11"
click-repl==0.3.0 ; python_version >= "3.11"
click==8.3.1 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11" and platform_system == "Windows"
coverage==7.13.2 ; python_version >= "3.11"
django-cors-headers==4.9.0 ; python_version >= "3.11"
django==5.2.10 ; python_version >= "3.11"
djangorestframework-simplejwt==5.5.1 ; python_version >= "3.11"
djangorestframework==3.16.1 ; python_version >= "3.11"
drf-yasg==1.21.14 ; python_version >= "3.11"
flake8==7.3.0 ; python_version >= "3.11"
h11==0.16.0 ; python_version >= "3.11"
httpcore==1.0.9 ; python_version >= "3.11"
httpx==0.28.1 ; python_version >= "3.11"
idna==3.11 ; python_version >= "3.11"
inflection==0.5.1 ; python_version >= "3.11"
kombu==5.6.2 ; python_version >= "3.11"
mccabe==0.7.0 ; python_version >= "3.11"
packaging==26.0 ; python_version >= "3.11"
prompt-toolkit==3.0.52 ; python_version >= "3.11"
psycopg2-binary==2.9.11 ; python_version >= "3.11"
pycodestyle==2.14.0 ; python_version >= "3.11"
pyflakes==3.4.0 ; python_version >= "3.11"
pyjwt==2.10.1 ; python_version >= "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.11"
python-decouple==3.8 ; python_version >= "3.11"
python-telegram-bot==22.6 ; python_version >= "3.11"
pytz==2025.2 ; python_version >= "3.11"
pyyaml==6.0.3 ; python_version >= "3.11"
redis==7.1.0 ; python_version >= "3.11"
six==1.17.0 ; python_version >= "3.11"
sqlparse==0.5.5 ; python_version >= "3.11"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2025.3 ; python_version >= "3.11"
tzlocal==5.3.1 ; python_version >= "3.11"
uritemplate==4.2.0 ; python_version >= "3.11"
vine==5.1.0 ; python_version >= "3.11"
wcwidth==0.5.0 ; python_version >= "3.11"
